@import './flexor.scss';
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import 'components.scss';

.stack-column {
    gap: 0.5em !important;
}

.swiper-wrapper {
    display: flex !important;
}

.swiper-slide {
    width: 100% !important;
}

figure{
    clip-path:fill-box;
}

.wp-block-cb-carousel .slick-slide{
    padding: 0 !important;
}