/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import 'root.scss';
@import 'components.scss';
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

.wp-block-create-block-swiper-logo-slider {
    border: 1px dotted #f00;
}

.has-raleway-font-family{
    font-family: var(--heading-font);
}

.wp-block-image-selector-example-image-selector {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wp-block-image-selector-example-image {
    .components-spinner {
        margin: 0;
        float: none;
    }

    // Space consecutive buttons evenly.
    .components-button+.components-button {
        margin-top: 1em;
        margin-right: 8px;
    }
}

.has-raleway-font-family {
    font-family: var(--heading-font);
}

.fixed-component-container {
    position: sticky !important;
}

@import './base.scss'