.is-style-arrow-icon-details {
    padding-top: var(--wp--preset--spacing--10);
    padding-bottom: var(--wp--preset--spacing--10);
}

.is-style-arrow-icon-details summary {
    list-style-type: "\2193\00a0\00a0\00a0";
}

.is-style-arrow-icon-details[open]>summary {
    list-style-type: "\2192\00a0\00a0\00a0";
}

@import "bootstrap-icons/font/bootstrap-icons.scss";